*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    text-decoration: none;
}

body{
    background-color: #19161B;
    max-width: 1200px;
}

/* HEADER START */

.container{
    display: flex;
    justify-content: space-between;
}
.container .left img{
    margin: 30px 0 30px 100px;
    color: #FFB577;
    cursor: pointer;
}
.container .right a{
    display: flex;
    margin: 30px 0px 29px 110px;
}
.container nav ul{
    display: flex;
}
.container nav ul a{
    display: flex;
    margin: 28px 15px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
    color: #FFFFFF;
    cursor: pointer;

}
.container nav ul a:hover{
    color: #FFC492;
}

.container .right a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFC492;
    cursor: pointer;
}
.container .right a:hover{
    color: white;
}



/* HEADER END */



/*MAIN START*/



.container-main{
    display: flex;
    margin-top: 95px;
}
.container-main .info-1{
    margin-left: 110px;
}
.container-main h1{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 68px;
    color: #FFFFFF;
    opacity: 0.87;  
    width: 440px;
    height: 136px;
}
.container-main .info-1 p{
    width: 424px;
    height: 56px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 28px;
    color: #B8B8B8;
}
.container-main .info-1 h4{
    width: 191.76px;
    height: 30px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
}
.container-main .info-1 button{
    width: 164px;
    height: 48px;
    background: #FFB577;
    margin-top: 25px;
    margin-bottom: 30px;
}
.container-main .info-1 button a{
    width: 88px;
    height: 24px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #2E2D33;
}
.container-main .photo-1 img{
    margin-left: 100px;
    height: 600px;
    width: 540px;
    border-radius: 0px;
}


/* KNOW MORE ABOUT US START START*/



.container-main-2{
    display: flex;
    margin-left: 110px;
    margin-top: 160px;
}
.container-main-2 .info-2 .info-2-1{
    display: flex;
}
.container-main-2 .info-2 .info-2-1 h4{
    width: 190px;
    height: 24px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFB577;
}
.container-main-2 .info-2 .info-2-1 .border{
    width: 48px;
    height: 0px;
    border: 1px solid #FFFFFF;
    margin-top: 8px;
    margin-left: 10px;
    opacity: 0.7;
}
.container-main-2 .info-2 .info-2-2 h2{
    width: 400px;
    height: 116px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 58px;
    color: #FFFFFF;
    margin-bottom:15px;
    margin-top: 20px;
}
.container-main-2 .info-2 .info-2-2 p{
    width: 450px;
    height: 75px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 28px;
    color: #B8B8B8;
}
.container-main-2 .info-2 .info-center{
    display: flex;
    margin-top: 35px;
}
.container-main-2 .info-2 .info-2-3{
    margin-right: 35px;
}
.container-main-2 .info-2 .info-center .info-2-3 h3{
    width: 150px;
    height: 36px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
    color: #C4E4EA;
    margin-top: 15px;
    margin-bottom: 10px;
}
.container-main-2 .info-2 .info-center .info-2-3 p{
    width: 110px;
    height: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 25px;
    color: #B8B8B8;
}
.container-main-2 .info-2 .info-center .info-2-3 img{
    width: 13px;
    height: 31px;
}
.margin-p{
    margin-top: 0px ;
    margin-bottom: 22px;
}
.container-main-2 .info-2 button{
    display: flex;
    width: 164px;
    height: 48px;
    background: #FFB577;
    margin-top: 130px;
    align-items: center;
    outline: none;
    border: none;
}
.container-main-2 .info-2 button a{
    width: 140px;
    height: 24px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #2E2D33;
    text-align: center;
}
.container-main-2 .photo-2 .photo-2-1{
    /* margin-left: 0px; */
    margin-top: 110px;
}
.container-main-2 .photo-2 .photo-2-2{
    margin-left: 40px;
    margin-bottom: 100px;
}


/* KNOW MORE ABOUT US START END */


/* CONTAINER-main-3 START */


.container-main-3{
    margin-top: 100px;
    margin-left: 110px;
}


/* ????????????????????? */

.container-main-3 .info-1{
    display: flex;
}
.container-main-3 .info-1 .inf0-h4{
    width: 177px;
    height: 24px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFB577;
}
.container-main-3 .info-1 .border{
    width: 48px;
    height: 0px;
    border: 1px solid #FFFFFF;
    margin-top: 8px;
    margin-left: 10px;
    opacity: 0.7;
}



/* ????????????????????? */

.container-main-3 .info-2{
    display: flex;
    justify-content: space-between;
}
.container-main-3 .info-2 h2{
    width: 500px;
    height: 120px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 58px;
    color: #FFFFFF;
    opacity: 0.87;
}
.container-main-3 .info-2 p{
    width: 549px;
    height: 84px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #B8B8B8;
    margin-right: 10px;
}



/* CONTAINER-main-3 END */
/* CONTAINER-main-4 START */



.container-main-4{
    display: flex;
    flex-wrap: wrap;
    margin-left: 160px;
    margin-right: 25px;
    margin-top: 70px;
    column-gap: 2px;
}
.container-main-4 .eat{
    width: 30%;
    height: 400px;
    background-color: black;
    background: rgba(0, 0, 0, 0.16);
}
.container-main-4 .eat img{
    padding-top: 40px;
    padding-left: 30px;
}
.container-main-4 .eat h3{
    width: 195px;
    height: 48px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: #FFFFFF;
    padding-left:30px;
    padding-top: 15px;
}
.container-main-4 .eat p{
    width: 299px;
    height: 84px;
    right: 1077px;
    top: 2199px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #B8B8B8;
    padding-left: 30px;
    padding-top: 50px;
}


/* CONTAINER-main-4 END */

/* CONTAINER-main-5 START */





.container-main-5{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    margin-left: 160px;
    margin-right: 200px
}
.container-main-5 .info-1 h2{
    width: 450px;
    height: 116px;
    right: 990px;
    top: 2897px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    color: #FFFFFF;
    margin-bottom: 35px;
}
.container-main-5 .info-1 h5{
    width: 125px;
    height: 21px;
    right: 1312px;
    top: 3045px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: #C4E4EA;
}
.container-main-5 .info-2 p{
    width: 499px;
    height: 112px;
    right: 223px;
    top: 2913px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #B8B8B8;
    margin-top: 230px;
}

.container-main-5 .info-1 .info-1-1{
    display: flex;
    margin-top: 160px;
    margin-bottom: 30px;
}
.container-main-5 .info-1 h4{
    width: 90px;
    height: 24px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFB577;
}
.container-main-5 .info-1 .info-1-1 .border{
    width: 48px;
    height: 0px;
    border: 1px solid #FFFFFF;
    margin-top: 8px;
    margin-left: 10px;
    opacity: 0.7;
}
/* MAIN-5 END */

/* MAIN-6 START */
.container-main-6{
    display: flex;
    flex-wrap: wrap;
    margin-top: 90px;
    margin-left: 160px;
    margin-right: 70px;
}
.container-main-6 .chart{
    width: 33%;
}
.container-main-6 .chart img{
    /* width: 405px;
    height: 271px; */
    width: 92%;
}
.container-main-6 .chart button{
    width: 443px;
    height: 80px;
    right: 1035px;
    top: 3420px;
    background: #1F1D21;
    border: none;
    outline: none;
    margin-bottom: 25px;
}
.container-main-6 .chart h4{
    width: 246.1px;
    height: 38px;
    right: 1161.89px;
    top: 3444px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    opacity: 0.87;
    display: flex;
}
.view-menu a{
    width: 88px;
    height: 24px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #2E2D33;
}
.view-menu{
    background-color: black;
    outline: none;
    border: none;
    background-color: #FFB577;
    padding: 12px 30px;
    margin-top: 30px;
    margin-left: 800px;
}
/* MAIN-6 END */


/* MAIN-7 START */

.container-main-7{
    display: flex;
    margin-top: 160px;
    /* margin-left: 160px; */
    margin-right: 120px;
    /* justify-content: space-between; */
}
.container-main-7 .info-1{
    width: 674px;
    height: 668px;
    background: #1F1D21;
}
.container-main-7 .info-1 img{
    width: 30px;
    height: 30px;
    font-family: 'Gilroy-Bold';
    font-size: 72px;
    line-height: 92px;
    color: #FFFFFF;
    margin-left: 160px;
    margin-top: 80px;
}
.container-main-7 .info-1 h4{
    width: 436px;
    height: 288px;
    right: 1003px;
    top: 4289px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    color: #FFFFFF;
    opacity: 0.87;
    margin-top: 50px;
    margin-left: 160px;
    padding-right: 80px;
}
.container-main-7 .info-1-1 .info-p{
    width: 113px;
    height: 24px;
    right: 1327px;
    top: 4649px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.87;
    margin-top: 90px;
    margin-left: 160px;
}
.container-main-7 .info-1-1 p{
    width: 140px;
    height: 16px;
    right: 1308px;
    top: 4677px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
    opacity: 0.6;
    margin-left: 160px;
}
.container-main-7 .info-1 .info-1-1 img{
    margin-right: 80px;
    margin-top: 80px;
    width: 48px;
    height: 48px;
}
.info-p-b-i{
    display: flex;
    justify-content: space-between;
}

/* MAIN-7 END */
/* MAIN-8 START */



.container-main-7 .border{
    width: 360px;
    height: 0px;
    opacity: 0.24;
    border: 1px solid #FFFFFF;
    margin-left: 160px;
    margin-top: 15px;
}
.container-main-7 .border-1{
    width: 50px;
    height: 0px;
    border: 1px solid #FFFFFF;
    margin-left: 470px;
}
.Lastes-Blog{
    width: 624px;
    height: 58px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    color: #FFFFFF;
    margin-top: 170px;
    margin-left: 160px;   
    margin-bottom: 70px;
}
.container-main-8 .extra{
    display: flex;
    flex-wrap: wrap;
    /* width: 100%; */
    flex-direction: row;
    margin-left: 160px;
}
.container-main-8 .extra .inside-extra{
    height: 500px;
    background: #1F1D21;
    width: 28%;
    margin-right: 32px;
}
.container-main-8 .extra .inside-extra .date{
    width: 80px;
    height: 24px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #B8B8B8;
    margin-top: 25px;
    margin-left: 25px;
}
.container-main-8 .extra .inside-extra h3{
    width: 341px;
    height: 96px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: #FFFFFF;
    opacity: 0.87;
    margin-top: 9px;
    margin-left: 25px;
}
.container-main-8 .extra .inside-extra p{
    width: 341px;
    height: 84px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #B8B8B8;
    margin-top: 15px;
    margin-left: 25px;
}
.container-main-8 .extra .inside-extra img{
    width: 100%;
    margin-top: 35px;
}

/* MAIN-8 END */

/* MAIN-9 START */

.container-main-9{
    display: flex;
    justify-content: space-between;
    margin-top: 160px;
    margin-left: 160px;
    background: #1F1D21;
    margin-right: 175px;
    height: 620px;
}
.container-main-9 .maps h4{
    width: 191.76px;
    height: 30px;
    left: 226px;
    top: 5852px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    margin-top: 80px;
    margin-left: 60px; 
}
.container-main-9 .maps p{
    width: 150px;
    height: 56px;
    left: 226px;
    top: 5888px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #B8B8B8;
    margin-top: 10px;
    margin-left: 60px;
}
.container-main-9 .maps iframe{
    mix-blend-mode: luminosity; 
}
/* MAIN-9 END */

/* FOOTER-1 START */


.footer-1{
    text-align: center;
    margin-top: 160px;
}
.footer-1 .footer-link ul{
    display: flex;
    bottom: 35%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
    color: #FFFFFF;
    cursor: pointer;
    justify-content: center;
    margin-top: 50px;
}
.footer-1 .footer-link ul a{
    margin-left: 40px;
    left: 43.22%;
    right: 52.28%;
    top: 64.18%;
    bottom: 29.07%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
    color: #FFFFFF;
}
.footer-1 .footer-link ul a:hover{
    color:#FFB577;
}
.footer-1 .border{
    width: 100%;
    border: 1px solid white;
    opacity: 0.07;
    margin-top: 30px;
}

/* FOOTER-1 END */

/* FOOTER-2 START */

.footer-2{
    display: flex;
    justify-content:space-between;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 160px;
    margin-right: 200px;
}
.footer-2 .footer-left p{
    left: 10.06%;
    right: 72.08%;
    top: 86.66%;
    bottom: 6.6%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
    color: #B8B8B8;
}
.footer-2 .footer-link-2 img{
    left: 53.19%;
    right: 45.91%;
    top: 88.06%;
    bottom: 7.88%;
    margin-right: 30px;
}
.footer-2 .footer-right button{
    left: 82.51%;
    right: 11.93%;
    top: 86.38%;
    bottom: 6.88%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    background-color: #19161B;
    border: none;
    outline: none;
}   
.footer-2 .footer-right button a{
    left: 82.51%;
    right: 11.93%;
    top: 86.38%;
    bottom: 6.88%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFB577;
}
.footer-2 .footer-link-2{
    margin-right: 90px;
}