*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    text-decoration: none;
}

body{
    background-color: #19161B;
}
/* HEADER START */

.container{
    display: flex;
    justify-content: space-between;
}
.container .left img{
    margin: 30px 0 30px 162px;
    color: #FFB577;
    cursor: pointer;
}
.container .right a{
    display: flex;
    margin: 30px 196px 29px 0;
}
.container nav ul{
    display: flex;
    margin-right: 275px
}
.container nav ul a{
    display: flex;
    margin: 28px 40px;
    left: 37.06%;
    right: 58.25%;
    top: 35%;
    bottom: 35%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
    color: #FFFFFF;
    cursor: pointer;

}
.container nav ul a:hover{
    color: #FFC492;
}

.container .right a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFC492;
    cursor: pointer;
}
.container .right a:hover{
    color: white;
}

/* HEADER END */
/* P AND H1 START */
.first-p{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.46);
    width: 700px;
    margin: 95px auto;
    
}
.first-p .andrew-text{
    display: flex;
    margin-left: 15px;
    margin-top: 10px;
}
.andrew-photo img{
    margin-bottom: 25px;
}
.first-p .andrew-text .andrew-text-1 p{
    width: 125px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
    opacity: 0.87;
}
.first-p .andrew-text .andrew-text-2 p{
    width: 230px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
    opacity: 0.6;
    margin-left: 15px;
}
h1{
    width: 1061px;
    height: 116px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    color: #FFFFFF;
    margin: 55px auto;
}
/* P AND H1 END */
/* MAIN START */
/* BLOGINNER-CONTAINER START */
.bloginner-container{
    margin-top: 80px;
    text-align: center;
}
.bloginner-container img{
    width: 1280px;
    height: 488px;
}
.bloginner-container h3{
    width: 842px;
    height: 96px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: #FFFFFF;
    opacity: 0.87;
    text-align: left;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 25px;
}
.bloginner-container p{
    width: 842px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #B8B8B8;
    margin: auto;
    text-align: left;
    margin-top: 15px;
}
.bloginner-container h4{
    width: 842px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    opacity: 0.8;
    text-align: left;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 15px;
}
/* BLOGINNER-CONTAINER END */

/* MAIN-9 START */

.container-main-9{
    display: flex;
    justify-content: space-between;
    margin-top: 160px;
    margin-left: 160px;
    background: #1F1D21;
    margin-right: 175px;
    height: 620px;
}
.container-main-9 .maps h4{
    width: 191.76px;
    height: 30px;
    left: 226px;
    top: 5852px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    margin-top: 80px;
    margin-left: 60px; 
}
.container-main-9 .maps p{
    width: 150px;
    height: 56px;
    left: 226px;
    top: 5888px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #B8B8B8;
    margin-top: 10px;
    margin-left: 60px;
}
.container-main-9 .maps iframe{
    mix-blend-mode: luminosity; 
}
/* MAIN-9 END */

/* FOOTER-1 START */


.footer-1{
    text-align: center;
    margin-top: 160px;
}
.footer-1 .footer-link ul{
    display: flex;
    bottom: 35%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
    color: #FFFFFF;
    cursor: pointer;
    justify-content: center;
    margin-top: 50px;
}
.footer-1 .footer-link ul a{
    margin-left: 40px;
    left: 43.22%;
    right: 52.28%;
    top: 64.18%;
    bottom: 29.07%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
    color: #FFFFFF;
}
.footer-1 .footer-link ul a:hover{
    color:#FFB577;
}
.footer-1 .border{
    width: 100%;
    border: 1px solid white;
    opacity: 0.07;
    margin-top: 30px;
}

/* FOOTER-1 END */

/* FOOTER-2 START */

.footer-2{
    display: flex;
    justify-content:space-between;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 160px;
    margin-right: 200px;
}
.footer-2 .footer-left p{
    left: 10.06%;
    right: 72.08%;
    top: 86.66%;
    bottom: 6.6%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
    color: #B8B8B8;
}
.footer-2 .footer-link-2 img{
    left: 53.19%;
    right: 45.91%;
    top: 88.06%;
    bottom: 7.88%;
    margin-right: 30px;
}
.footer-2 .footer-right button{
    left: 82.51%;
    right: 11.93%;
    top: 86.38%;
    bottom: 6.88%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    background-color: #19161B;
    border: none;
    outline: none;
}   
.footer-2 .footer-right button a{
    left: 82.51%;
    right: 11.93%;
    top: 86.38%;
    bottom: 6.88%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFB577;
}
.footer-2 .footer-link-2{
    margin-right: 90px;
}