*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    text-decoration: none;
}
body{
    background-color: #19161B;
}
/* HEADER START */
.container{
    display: flex;
    justify-content: space-between;
}
.container .left img{
    margin: 30px 0 30px 162px;
    color: #FFB577;
    cursor: pointer;
}
.container .right a{
    display: flex;
    margin: 30px 196px 29px 0;
}
.container nav ul{
    display: flex;
    margin-right: 275px;
}
.container nav ul a{
    display: flex;
    margin: 28px 40px;
    left: 37.06%;
    right: 58.25%;
    top: 35%;
    bottom: 35%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
    color: #FFFFFF;
    cursor: pointer;

}
.container nav ul a:hover{
    color: #FFC492;
}

.container .right a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFC492;
    cursor: pointer;
}
.container .right a:hover{
    color: white;
}
/* HEADER END */
/* MAIN START */
/* BLOG-CONTAINER START */

/* h1{
    text-align: center;
    margin-top: 90px;
    height: 64px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    color: #FFFFFF;
}
???????????????????????????????????????????????????????????????
.blog-container{
    margin-left: 200px;
    margin-top: 60px;
}
.blog-container .box-1{
    background-image: url(../Images/Blog\ Image\ \(1\).png);
    width: 624px;
    height: 496px;
}
.blog-container .box-1 .gradient{
    width: 624px;
    height: 496px;
    background: rgba(20, 17, 21, 0.81);
}
???????????????????????????????????????????????????????????????
.blog-container .box-1 .gradient .trending{
    width: 130px;
    height: 50px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 15px;
    background-color: rgb(255, 197, 146);
}
.blog-container .box-1 .gradient .gradient-h2{
    padding-top: 200px;
    padding-left: 60px;
    width: 451px;
    height: 128px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    color: #FFFFFF;
}
.blog-container .box-1 .gradient .box-1-1{
    display: flex;
    margin-top: 150px;
    padding-left: 60px;
    justify-content: space-between;
}
.blog-container .box-1 .gradient .box-1-1 .andrew{
    width: 130px;
    height: 28px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
    opacity: 0.87;
}
.blog-container .box-1 .gradient .box-1-1 .date{
    width: 142px;
    height: 24px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.6;
}
.jonson{
    margin-right: 150px;
}
.link-1{
    margin-top: 15px;
}
.blog-container .box-1 .gradient .box-1-1 a{
    width: 85px;
    height: 28px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
    opacity: 0.87;
    padding-right: 100px;
}
.blog-container{
    display: flex;
}
.blog-container .box-2 .box-1-1{
    display: flex;
    margin-left: 40px;
}
.blog-container .box-2 .box-1-2 img{
    width: 132px;
    height: 144px;
}
.blog-container .box-2 .box-1-1 .box-1-3 h4{
    width: 373px;
    height: 60px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    opacity: 0.87;
}
.blog-container .box-2 .box-1-1 .box-1-3 p{
    width: 344px;
    height: 56px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #B8B8B8;
    margin-top: 15px;
}
.blog-container .box-2 .box-1-1 .box-1-3{
    margin-left: 30px;
}
.club{
    margin-top: 28px;
} */

/* BLOG-CONTAINER END */
/* BLOG-CONTAINER-2 START */

.blog-container-h2{
    text-align: center;
    width: 286.36px;
    height: 44px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;
    opacity: 0.87;
    margin-top: 160px;
}
.articles .photo img{
    width: 226.28px;
    height: 266px;
}
.articles .text .photo-1 .andrew-image img{
    width: 40px;
    height: 41.33px;
}
.photo-1{
    display: flex;
    margin-left: 40px;
}
.articles .text-1{
    margin-left: 40px;
}
.articles .text .photo-1 .andrew-date .andrew{
    width: 125px;
    height: 28px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
    opacity: 0.87;
}
.articles .text .photo-1 .andrew-date .date{
    width: 142px;
    height: 24px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.6;
}
.articles .text .photo-1 .andrew-date{
    margin-left: 15px;
}
.articles .text .text-1 h4{
    margin-top: 25px;
    margin-bottom: 25px;
    width: 366.46px;
    height: 30px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    opacity: 0.87;
}
.articles .text .text-1 a{
    width: 85px;
    height: 28px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
}
.articles .text{
    margin-top: 65px;
}
.blog-container-2{
    display: flex;
    flex-wrap: wrap;
    margin-top: 65px;
    width: 100%;
}
.articles{
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin-top: 40px;
}


/* BLOG-CONTAINER-2 END */

/* MAIN-9 START */

.container-main-9{
    display: flex;
    justify-content: space-between;
    margin-top: 160px;
    margin-left: 160px;
    background: #1F1D21;
    margin-right: 175px;
    height: 620px;
}
.container-main-9 .maps h4{
    width: 191.76px;
    height: 30px;
    left: 226px;
    top: 5852px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    margin-top: 80px;
    margin-left: 60px; 
}
.container-main-9 .maps p{
    width: 150px;
    height: 56px;
    left: 226px;
    top: 5888px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #B8B8B8;
    margin-top: 10px;
    margin-left: 60px;
}
.container-main-9 .maps iframe{
    mix-blend-mode: luminosity; 
}
/* MAIN-9 END */

/* FOOTER-1 START */


.footer-1{
    text-align: center;
    margin-top: 160px;
}
.footer-1 .footer-link ul{
    display: flex;
    bottom: 35%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
    color: #FFFFFF;
    cursor: pointer;
    justify-content: center;
    margin-top: 50px;
}
.footer-1 .footer-link ul a{
    margin-left: 40px;
    left: 43.22%;
    right: 52.28%;
    top: 64.18%;
    bottom: 29.07%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
    color: #FFFFFF;
}
.footer-1 .footer-link ul a:hover{
    color:#FFB577;
}
.footer-1 .border{
    width: 100%;
    border: 1px solid white;
    opacity: 0.07;
    margin-top: 30px;
}

/* FOOTER-1 END */

/* FOOTER-2 START */

.footer-2{
    display: flex;
    justify-content:space-between;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 160px;
    margin-right: 200px;
}
.footer-2 .footer-left p{
    left: 10.06%;
    right: 72.08%;
    top: 86.66%;
    bottom: 6.6%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
    color: #B8B8B8;
}
.footer-2 .footer-link-2 img{
    left: 53.19%;
    right: 45.91%;
    top: 88.06%;
    bottom: 7.88%;
    margin-right: 30px;
}
.footer-2 .footer-right button{
    left: 82.51%;
    right: 11.93%;
    top: 86.38%;
    bottom: 6.88%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    background-color: #19161B;
    border: none;
    outline: none;
}   
.footer-2 .footer-right button a{
    left: 82.51%;
    right: 11.93%;
    top: 86.38%;
    bottom: 6.88%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFB577;
}
.footer-2 .footer-link-2{
    margin-right: 90px;
}